<%= simple_form_for @staff do |f| %>
  <div class = col-md-3>
  <%= f.input :name %>
  <%= f.input :ic %>
  <%= f.input :position %>
  <%= f.input :address %>
  <%= f.button :submit %>
  </div>
<% end %>