<table border ="0", width = "40%">
  <thead></thead>
  
<tbody>

     <tr>
        <td><strong> Name: </strong></td> 
        <td><%= @staff.name%></td>
    </tr>
    <tr>
        <td><strong> IC Number: </strong></td> 
        <td><%= @staff.ic%></td>
    </tr>
    <tr>
        <td><strong> Position: </strong></td> 
        <td><%= @staff.position%></td>
    </tr>
    <tr>
        <td><strong> Address: </strong></td> 
        <td><%= @staff.address%></td>
    </tr>
    <tr>
        <td><strong> Vehicle Plate Number: </strong></td> 
        <% @staff.vehicles.each do |v| %>
            <td><%= v.plate_num %></td>
        <% end %>
    </tr>
    <tr>
        <td><strong> Room Name: </strong></td> 
        <% @staff.rooms.each do |r| %>
            <td><%= r.room_name %>,</td>
        <% end %>
     </tr>
</tbody>
</table>
<br>
<%= link_to 'Back', staffs_path %> |
<%= link_to 'Edit', edit_staff_path(@staff) %>