<h1>Listing Vehicles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Vehicle type</th>
      <th>Vehicle model</th>
      <th>Color</th>
      <th>Plate num</th>
      <th>Staff</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.vehicle_type %></td>
        <td><%= vehicle.vehicle_model %></td>
        <td><%= vehicle.color %></td>
        <td><%= vehicle.plate_num %></td>
        <td><%= vehicle.staff.name %></td>
        <td><%= button_to "SHOW", vehicle, :class => "button", :method => :get  %></td>
        <td><%= button_to "EDIT", edit_vehicle_path(vehicle), :class => "button", :method => :get  %></td>
        <td><%= button_to "DELETE", vehicle, :method => :delete %></td>
    
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table><tbody>
<tr>
    <td><%= button_to "NEW VEHICLE", new_vehicle_path, :class => "button", :method => :get  %></td>
    <td> || </td>
    <td><%= button_to "STAFF LIST", staffs_path, :class => "button", :method => :get  %></td>
</tr>
</tbody></table> 